.gpContent{
    position: relative;
    width: auto;
    height: auto;
    background-color: #DCE6F7;
    font-family:Verdana, Geneva, sans-serif;
    border:1px solid grey;
}

.gpContentResults {
    position: relative;
    float: left;
    left: 200px;
    width: 600px;
    height: auto;
    background-color: red;
}

#gpCourseButton, #gpTeacherButton, #gpRoomButton, #gpStudentSearchButton {
    height: 30px;
    width: 125px;
}

#gpCreateButton {
    background-color:#FF5326;
    border:2px solid #FF5326;
}
    