/*********CONETNT*********/
.content {
    width:auto;
    position:relative;
    background-color: #DCE6F7;
    font-family:"Times New Roman", Times, serif;;
    height: 200px;
    border:1px solid grey;
}
.content-left{
    position: relative;
    margin-top: 10px;
	margin-left: 10px;
    height: 180px;
    float: left;
    width: 550px;
}
.newUser{
    width:400px;
    height: 45px;
    background-color:#FFBC00;
    color:#fff;
    border:2px solid #FFCB00;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:15px;
    margin-top: 10px;
    margin-left: 75px;   
    text-align: center;
}
.newCourse{
    width:400px;
    height: 45px;
    background-color:#FFBC00;
    color:#fff;
    border:2px solid #FFCB00;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:15px;
    margin-top: 10px;
    margin-left: 75px; 
    text-align: center;
}
.newRoom{
    width:400px;
    height: 45px;
    background-color:#FFBC00;
    color:#fff;
    border:2px solid #FFCB00;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    border-radius:15px;
    margin-top: 10px;
    margin-left: 75px; 
    text-align: center;
}
.content-right{
    position: relative;
    margin-top: 10px;
	margin-right: 10px;
    font-family:Verdana, Geneva, sans-serif;
    height: 180px;
    float: right;
    width: 410px;
}
.groups{
    width:170px;
    height: 100px;
    background-color:#FF5326;
    color:#fff;
    border:2px solid #FFCB00;
    padding: 10px;
    font-size:20px;
    cursor:pointer;
    border-radius:15px;
    margin-top: 30px;
    margin-left: 115px;  
    text-align: center;
}
.searchArray{
    width:auto;
    position:relative;
    background-color: #DCE6F7;
    height: 150px;
    border:1px solid grey; 
}
.search-left{
    position: relative;
    margin-top: 10px;
	margin-left: 10px;
    height: 130px;
    background-color: aqua;
    float: left;
    width: 550px;
}
.search-right{
    position: relative;
    margin-top: 10px;
	margin-right: 10px;
    height: 130px;
    /*background-color: aqua;*/
    float: right;
    width: 410px;
}
form {
                width:500px;
                margin:50px auto;
}
.search {
                padding:8px 15px;
                background:rgba(50, 50, 50, 0.2);
                border:0px solid #dbdbdb;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}
.founded{
    width:auto;
    position:relative;
    background-color: #DCE6F7;
    height: 250px;
    border:1px solid grey; 
}



/*******************CONTENT_TOP******************/

.content-top{
    display: none;
    opacity: 0;
    position:absolute;
    top: -700px;
    left:70px;
    width: 700px;
    height: 500px;
    background-color: black;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    z-index: 99;
}