.gpContent{
    position: relative;
    width: auto;
    height: auto;
    background-color: #DCE6F7;
    font-family:Verdana, Geneva, sans-serif;
    border:1px solid grey;
}

#groupPlanningTable {
    border: none;
}
#searchInfo{
	margin-left:100px;
}
#searchInformation{
	font-size:12px;
	font-weight: bold;
    height: 30px;
    width: 55px;
    padding: 5px 15px 5px 5px;
}
.searchPerson{
	height: 10%;
}
.allBorder{
border: 3px solid #DCE6F7;
}
.LRborder{
border-left: 3px solid #DCE6F7; 
border-right: 3px solid #DCE6F7;
}
.LRTborder{
border-left: 3px solid #DCE6F7; 
border-right: 3px solid #DCE6F7; 
border-top: 3px solid #DCE6F7;
}
.LRBborder{
border-left: 3px solid #DCE6F7; 
border-right: 3px solid #DCE6F7; 
border-bottom: 3px solid #DCE6F7;
}
#gpCourseLabel, #gpTeacherLabel, #gpRoomLabel, #gpDateLabel, #gpStudentLabel, #groupNameLabel {
    margin-left: 20px;
}

#groupNameInput{
	padding: 5px;
	width: 285px;
}

#gpRoomLabel {
    margin-top: 10px;
    margin-bottom: 10px;
}


#gpCourseList, #gpTeacherList, #gpRoomList {
    width: 300px;
    height: 30px;
}


#gpCourseAcceptButton, #gpTeacherAcceptButton, #gpRoomAcceptButton,
#gpDatesAcceptButton, #gpCourseRefreshButton, #gpStudentSearchButton {
    height: 35px;
    width: 125px;
    padding: 5px 5px 5px 5px;
    margin-left: -50px;
}


#gpDateFrom, #gpDateTo {
    width: 138px;
    height: 30px;
    border: 1px solid #A9A9A9;
    margin-top: 10px;
    margin-bottom: 5px;
}


#gpStudentName, #gpStudentSurname, #gpStudentID {
    width: 280px;
    height: 15px;
}

#gpAddSelectedStudentsButton {
    height: 35px;
    width: 300px;
    padding: 5px 5px 5px 5px;
}


#gpStudentResultInfo {
    margin-top: 10px;
    margin-left: 345px;
    width: 300px;
    height: 30px;
}


#gpCreateButton {
    background-color:#FF5326;
    border:2px solid #FF5326;
    padding: 5px 5px 5px 5px;
    margin: 30px 30px 30px 30px;
}
