.gpContent{
    position: relative;
    width: auto;
    height: auto;
    background-color: #DCE6F7;
    font-family:Verdana, Geneva, sans-serif;
    border:1px solid grey;
}

#gpCourseLabel, #gpTeacherLabel, #gpRoomLabel, #gpDateLabel, #gpStudentLabel {
    margin-left: 5px;
}

#gpCourseList, #gpTeacherList, #gpRoomList {
    width: 300px;
    height: 30px;
}


#gpCourseButton, #gpTeacherButton, #gpRoomButton, #gpStudentSearchButton {
    height: 35px;
    width: 125px;
    padding: 5px 5px 5px 5px;
}


#gpDateFrom, #gpDateTo {
    width: 137px;
    height: 30px;
    border: 1px solid #A9A9A9;
}


#gpStudentName, #gpStudentSurname, #gpStudentID {
    width: 280px;
    height: 15px;
}


.gpContentResults {
    position: relative;
    float: left;
    left: 200px;
    width: 600px;
    height: auto;
    background-color: red;
    padding: 10px 10px 10px 10px;
}


#gpCourseResultInfo, #gpTeacherResultInfo {
    margin-left: 300px;
    line-height: 150%;
}


#gpCreateButton {
    background-color:#FF5326;
    border:2px solid #FF5326;
    padding: px 5px 5px 5px;
}